HR_DB_NAME=hr_service
HR_DB_USER=postgres
HR_DB_PASS=secret

HUB_DB_NAME=hub_service
HUB_DB_USER=postgres
HUB_DB_PASS=secret

RABBITMQ_USER=guest
RABBITMQ_PASS=guest

REDIS_PASSWORD=

REVERB_APP_ID=1
REVERB_APP_KEY=hr-platform-key
REVERB_APP_SECRET=hr-platform-secret
