APP_NAME="Hub Service"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8002

DB_CONNECTION=pgsql
DB_HOST=hub-postgres
DB_PORT=5432
DB_DATABASE=hub_service
DB_USERNAME=postgres
DB_PASSWORD=secret

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

CACHE_STORE=redis

REVERB_APP_ID=1
REVERB_APP_KEY=hr-platform-key
REVERB_APP_SECRET=hr-platform-secret
REVERB_HOST=reverb
REVERB_PORT=8080

BROADCAST_CONNECTION=reverb

LOG_CHANNEL=stderr
LOG_LEVEL=debug
